.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.logo {
    position: fixed;
    z-index: 10001;
    margin-left: 10%;
    margin-top: 10px;
    top: 0;
    left: 0;
}

.imagen-logo{
    max-width: 150px;
}
.bg-color{
    background-color: #92000A;
}
.texto-logo {
    visibility: hidden; /* Oculta el texto del logo inicialmente */
}

@media (max-width: 575px) {
    .logo {
        visibility: hidden; 
    }

    .texto-logo {
        visibility: visible; 
    }
}

.rudo{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}