<section id="place-time">
    <div class="container-fluid">
        <h1> CONTACTENOS</h1>      
        <div class="row principal">
           
           
           

            <div class="col-12 col-lg-6 pt-4 pb-4 container-mensaje" >
                <div class="container text-center">
                    <div class="row altura" >
                        <div class="col container-contactenos altura">
                            <img class="color" src="../../assets/Phone.png" alt="">
                            <h3 class="titulo2 color">Telefono</h3>                         
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col container-contactenos">
                            <img class="color" src="../../assets/Mail.png" alt="">
                            <h3 class="titulo2 color">Correo .</h3>                  
                        </div>
                                                 
                    </div>
                
                    <div class="row">
                        <div class="col container-contactenos">
                            <img class="color" src="../../assets/ubicacion.png" alt="">
                            <h3 class="titulo2 color">Dirección</h3>                  
                        </div>
                    
                    </div>
                
                  </div>             
             
                          
            </div> 

            <div class="col-12 col-lg-6 pt-4 pb-4 container-mensaje" >
                <div class="container text-right ">
                    <div class="row altura" >
                        <div class="col align-self-center">
                            <p class="mensaje">3115843858</p>
                        </div>
                    </div>
                
                    <div class="row  altura">
                        <div class="col align-self-center">
                            
                            <p class="mensaje"> jose.arevalohotmail.com</p>
                        </div>
                    </div>
                
                    <div class="row altura">
                        <div class="col align-self-center">
                            
                            <p class="mensaje">Vereda La Aguadita.</p>
                        </div>
                    </div>
                
                  </div>             
             
                          
            </div> 
                        
            
           
           
           
           
           



      </div>

    </div>
  </section>

