<section id="place-time">
    <div class="container-fluid container-principal">
        <h1 class="titulo"> CONTACTENOS</h1>      
        <div class="row principal">          
            <div class="col-lg-6 col-md-6 col-sm-6 container-mensaje" >
                <div class="container text-center">
                    <div class="row altura" >
                        <div class="col container-contactenos">
                            <img class="color" src="../../assets/Phone.png" alt="">
                            <h3 class="titulo2 color">Telefono</h3>                         
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col container-contactenos">
                            <img class="color" src="../../assets/Mail.png" alt="">
                            <h3 class="titulo2 color">Correo <span class="truco">.</span></h3>                  
                        </div>
                                                 
                    </div>
                
                    <div class="row">
                        <div class="col container-contactenos">
                            <img class="color" src="../../assets/ubicacion.png" alt="">
                            <h3 class="titulo2 color">Dirección</h3>                  
                        </div>
                    
                    </div>
                
                  </div>                       
            </div> 

            <div class="col-lg-6 col-md-6 col-sm-6 container-mensaje container-2" >
                <div class="container text-right ">
                    <div class="row altura" >
                        <div class="col align-self-center">
                            <p class="mensaje">3214486139</p>
                        </div>
                    </div>
                
                    <div class="row  altura">
                        <div class="col align-self-center">
                            
                            <p class="mensaje"> jose.arevalohotmail.com</p>
                        </div>
                    </div>
                
                    <div class="row altura">
                        <div class="col align-self-center">   
                            <p class="mensaje">Vereda La Aguadita.</p>
                        </div>
                    </div>
                
                  </div>                             
            </div> 


      </div>

    </div>
  </section>

