.postres{
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.imagen-card{
    padding: 18px;
}

.titulo-card{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.precio-card{
    text-align: center;
    color: gray;

}

.boton-ver-mas{

    text-align: center; 
    vertical-align: middle; 

 
    
}

.tabla{
    border: 2px solid black;
}


.card-detalle{
    width: 95%;
    display: flex;
    justify-content: center;
}
.principal{

    margin-left: 0px;
}

.titulo-princiapal{
    color: brown !important;
}

.general{
    background-color: #FDEEEE;
    padding-top: 1px;
    padding-bottom: 30px;
}

.container-p{
    margin-left: -25px !important;
    margin-right: -25px !important;

}

