<div class="slide2">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/BANNER1.png" class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption propia">
          <h5 class="titulo">{{tituloBanner1}}</h5>
          <p> {{descripcionBanner1 }}</p>
          <button type="button" class="btn btn-success" routerLink="postres/2"> Ver más detalles</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/BANNER2.png" class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption propia">
          <h5 class="titulo">{{tituloBanner2}}</h5>
          <p>{{descripcionBanner2}}</p>
          <button type="button" class="btn btn-success" routerLink="postres/4"> Ver más detalles</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/BANNER3.png" class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption propia">
          <h5 class="titulo">{{tituloBanner3}}</h5>
          <p>{{descripcionBanner3}}</p>
          <button type="button" class="btn btn-success" routerLink="postres/1"> Ver más detalles</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



































