  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
  #place-time {
    background-color: #343a40;
    color: white;
  }
  
  #place-time img {
    max-width: 100%;
  }
  
  .propia{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: normal;
    width: 100vw;
    border-radius: 20px;
   
  }
  
  
.carousel-caption{
  width: 70%;
  color: red;
 
 
}
  
  

  
  
  
