<section id="place-time">
    <div class="container-fluid">
        <h1>CONOCENOS</h1>      

      <div class="row principal">
        <div class="col-12 col-lg-6 pt-4 pb-4 container-mensaje" >

          <div class="col-12 col-lg-12 pt-12 pb-12 titulo2-container">
            <h2 class="col-5 col-lg-5 pt-5 pb-5 titulo2">ENTREGA RÁPIDA, MANJARES DELICIOSOS</h2>
          </div>
                     
          <div class="texto-largo">
              <div class="col-6 col-lg-6 pt-4 pb-4">
                <p>{{texto}}</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 pl-0 pr-0 justify-content-center imagen">
          <img src="../../assets/Torta 2.png" alt="Honolulu" />
        </div>

      </div>

    </div>
  </section>