*{
   
    padding: 0px !important;
}

.principal{
  
    display: flex;
    background-color: aquamarine;
}


/* MENSAJE */
.container-mensaje{
    background-color: orange;




}

.titulo2-container{

    text-align: center;
    font-size: 100px !important;
    background-color: sandybrown;
    display: flex;
    justify-content: center;

}

.titulo2{
    color: red;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.texto-largo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    text-align: justify;
    font-size: 25px;
    
}

/* IMAGEN */

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    

}










