/* MENSAJE */

*{
    font-family: 'Times New Roman', Times, serif
 }




.container-mensaje{
    background-color: white;
    display: flex;
    justify-content: center;

   
     
 }

 .titulo{
    color: brown !important;
    margin-top: 70px !important;
    text-transform: uppercase;
 }

 @media (max-width: 575px) {
   
    .container-mensaje{
        margin-top: 25px;

    }
   

   
   
   
}