<div class="correciones">
    <app-header></app-header>
    <app-banner></app-banner>

    <app-empresa></app-empresa>
    <app-postres id="postres"></app-postres>
    <app-nuestros-postes></app-nuestros-postes>
    <app-contactenos id="contactenos"></app-contactenos>
    <app-footer></app-footer>

    <div style="position: fixed; bottom: 20px; right: 20px; z-index: 100;">
        <a href="https://wa.me/+573214486139" target="_blank">
            <img src="../../assets/WhatsApp.png" alt="Contacto por WhatsApp" style="width: 60px; height: 60px;">
        </a>
    </div>

</div>

