*{  
    padding: 0px !important;
}

.principal{  
    display: flex;
  
}



/* IMAGEN */

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    

}

/* MENSAJE */
.container-mensaje{
    background-color: white;
}


.titulo2{
    color: brown;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.mensaje{
    font-size: 20px;
    font-weight: bold;
}
.titulo{
    color: brown !important;
}





@media (max-width: 575px) {
    .imagen-principal{
        max-width: 350px;
    }
    
    

    
    
    
}
