<section id="place-time">
    <div class="container-fluid">
        <h1 class="titulo">NUESTROS POSTRES</h1>      
        <div class="row principal">
            <div class="col-12 col-lg-6 pl-0 pr-0 justify-content-center imagen">
                <img class="imagen-principal" src="../../assets/pastel14 2.png" alt="Honolulu" />
            </div>

            <div class="col-12 col-lg-6 pt-4 pb-4 container-mensaje" >
                <div class="container text-center">
                    <div class="row" >
                        <div class="col">
                            <h2 class="col-12 col-lg-12 pt-12 pb-12 titulo2">EVENTOS</h2>
                            <p class="mensaje">Postres diseñados para fechas especiales</p>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <h2 class="col-12 col-lg-12 pt-12 pb-12 titulo2">ANTOJOS</h2>
                            <p class="mensaje">Disfruta de un postre perfecto para cualquier momento</p>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <h2 class="col-12 col-lg-12 pt-12 pb-12 titulo2">COMIDAS</h2>
                            <p class="mensaje">Para acompañarlo con cualquier tipo de comida.</p>
                        </div>
                    </div>             
                  </div>                          
            </div>   
      </div>

    </div>
  </section>

