*{  
    padding: 0px !important;
    margin: 0px !important;
}

.principal{  
    display: flex;
    justify-content: center; 
}

/* IMAGEN */

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    align-items: center;   
}

/* MENSAJE */
.container-mensaje{
    background-color: white;
    display: flex;
    justify-content: center;    
}

.titulo{
    margin-top: 60px !important;
    color: brown !important;
}

.titulo-mision{
    margin-top: 65px !important;
}

.titulo2{
    color: red;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}


.mensaje{
    font-size: 20px;
    text-align: justify;
    margin-top: 20px !important;
    
}

.vision{
    padding: 20px !important;

}


.ajustar{
    justify-content: center;
}

@media (max-width: 575px) {
    
    .vision{
        
        width: 100%;
    }  
}