<div class="correciones">

<app-header></app-header>
<section id="place-time">
    <div class="container-fluid">
        <h1 class="titulo titulo-mision">MISIÓN</h1>      
        <div class="row principal">
            
            <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center container-mensaje" >
                <div class="row ajustar" >
                    <div class="col-8 col-sm-12 vision">
                        <p class="mensaje">{{textoMision1}}</p>
                        <p class="mensaje">{{textoMision2}}</p>
                    </div>
                </div>                                            
            </div>  
            
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center imagen">
                <img class="imagen-p" src="../../assets/DOS-TORTAS.png" alt="Honolulu" />
            </div>
      </div>
    </div>
  </section>


  <section id="place-time">
    <div class="container-fluid">
        <h1 class="titulo">VISIÓN</h1>      
        <div class="row principal">
            <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center imagen orden">
                <img class="imagen-p" src="../../assets/Postres 3.png" alt="Honolulu" />
            </div>
            
            <div class="col-12 col-lg-6 col-md-12 col-sm-12  justify-content-center container-mensaje orden" >
                <div class="row ajustar" >
                    <div class="col-8 col-sm-12 vision">
                        <p class="mensaje">{{textoVision1}}</p>
                        <p class="mensaje">{{textoVision2}}</p>
                    </div>
                </div>                                            
            </div>            
      </div>
    </div>
  </section>
  <br>

<div style="position: fixed; bottom: 20px; right: 20px; z-index: 100;">
    <a href="https://wa.me/+573214486139" target="_blank">
        <img src="../../assets/WhatsApp.png" alt="Contacto por WhatsApp" style="width: 60px; height: 60px;">
    </a>
</div>

<app-footer></app-footer>

</div>