<app-header></app-header>
<section id="place-time">
    <div class="container-fluid">
        <h1 class="titulo titulo-mision">MISION</h1>      
        <div class="row principal">
            
            <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center container-mensaje" >
                <div class="row ajustar" >
                    <div class="col-8 col-sm-12 vision">
                        <p class="mensaje">{{textoMision1}}</p>
                        <p class="mensaje">{{textoMision2}}</p>
                    </div>
                </div>                                            
            </div>  
            
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center imagen">
                <img src="../../assets/pastel14 2.png" alt="Honolulu" />
            </div>
      </div>
    </div>
  </section>


  <section id="place-time">
    <div class="container-fluid">
        <h1 class="titulo">VISION</h1>      
        <div class="row principal">
            <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center imagen">
                <img src="../../assets/pastel14 2.png" alt="Honolulu" />
            </div>
            
            <div class="col-12 col-lg-6 col-md-12 col-sm-12  justify-content-center container-mensaje" >
                <div class="row ajustar" >
                    <div class="col-8 col-sm-12 vision">
                        <p class="mensaje">{{textoVision1}}</p>
                        <p class="mensaje">{{textoVision2}}</p>
                    </div>
                </div>                                            
            </div>            
      </div>
    </div>
  </section>
  <br>

<app-footer></app-footer>